<div class="flex ph2 pv3 items-center bb bw2 b--dark-blue bg-dark-blue">
  <div class="flex flex-1 items-center">
    <div class="dt table-fixed w-100">
      <div *ngFor="let label of tableHeaders"
        class="dtc mh3 ph1">
        <div class="flex flex-1 f5 white ph1">{{label}}</div>
      </div>
    </div>
  </div>
  <div class="flex pl1">
    <div class="action-icon">
      <i class="material-icons grow-large br-pill ba bw1 pa1 f5 pointer white no-select"
        (click)="addItem.emit()">add</i>
    </div>
  </div>
</div>