<ui-page-header>
  Liabilities
</ui-page-header>
<ui-page-scroll>
  <ui-summary [summaryLabels]="summaryLabels"
    [summaryValues]="summaryValues$ | async">
    <ui-chart chartType="pie"
      [chartData]="chartData$ | async"
      [chartLabels]="chartLabels"></ui-chart>
  </ui-summary>
  <ui-card>
    <ui-table-row-header [tableHeaders]="tableHeaders"
      (addItem)="addItem()"></ui-table-row-header>
    <ui-table-row class="w-100 flex"
      *ngFor="let listItem of (liabilityList$ | async)?.controls; let first = first; let last = last; let i = index; trackBy: trackByIndex;"
      (deleteItem)="deleteItem(i)">
      <app-liability-entry class="flex items-center"
        [formState]="listItem">
      </app-liability-entry>
    </ui-table-row>
  </ui-card>
</ui-page-scroll>