<ui-page-header>
  Liabilities
</ui-page-header>
<ui-page-scroll>
  <ui-summary [summaryLabels]="summaryLabels"
    [summaryValues]="summaryValues$ | async">
    <ui-pie-chart chartType="pie"
      [chartData]="chartData$ | async"
      [chartLabels]="chartLabels">
    </ui-pie-chart>
  </ui-summary>
  <ui-card>
    <ui-table-row-header [tableHeaders]="tableHeaders"
      (addItem)="addItem()"></ui-table-row-header>
    <ui-table-row class="w-100 flex"
      *ngFor="let listItem of (liabilityList$ | async)?.controls; let i = index; trackBy: trackByIndex;"
      (deleteItem)="deleteItem(i)">
      <app-liability-entry class="flex items-center"
        [formState]="listItem">
      </app-liability-entry>
    </ui-table-row>
    <ui-table-empty *ngIf="(liabilityList$ | async)?.controls.length === 0"></ui-table-empty>
  </ui-card>
  <ui-card>
    <ui-card-header>
      Info
    </ui-card-header>
    <div class="pa3">
      <p>This section is intended for incomes and expenses that occur consistently with the same amount.</p>
      <div class="flex">
        <div class="flex flex-column w-50">
          <p>Examples of Incomes:</p>
          <ul>
            <li>Job Income</li>
            <li>Rental Income</li>
          </ul>
        </div>
        <div class="flex flex-column w-50">
          <p>Examples of Expenses:</p>
          <ul>
            <li>Rent Payments</li>
            <li>Mortgage Payments</li>
            <li>Subscriptions</li>
          </ul>
        </div>
      </div>
    </div>
  </ui-card>
</ui-page-scroll>