<div class="dt table-fixed w-100"
  [formGroup]="assetItem">
  <div class="dtc mh3 ph2">
    <mat-form-field class="flex">
      <input matInput
        formControlName="name">
    </mat-form-field>
  </div>
  <div class="dtc mh3 ph2">
    <mat-form-field class="flex">
      <input matInput
        formControlName="amount">
    </mat-form-field>
  </div>
  <div class="dtc mh3 ph2">
    <mat-form-field class="flex">
      <mat-select formControlName="financialType">
        <mat-option *ngFor="let optionItem of optionList"
          [value]="optionItem.value">
          {{ optionItem.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>