<ui-page-header>
  Assets
</ui-page-header>
<ui-page-scroll>
  <ui-summary [summaryLabels]="summaryLabels"
    [summaryValues]="summaryValues$ | async">
    <ui-pie-chart chartType="pie"
      [chartData]="chartData$ | async"
      [chartLabels]="chartLabels"></ui-pie-chart>
  </ui-summary>
  <ui-card>
    <ui-table-row-header [tableHeaders]="tableHeaders"
      (addItem)="addItem()"></ui-table-row-header>
    <ui-table-row class="w-100 flex"
      *ngFor="let listItem of (assetList$ | async)?.controls; let i = index; trackBy: trackByIndex;"
      (deleteItem)="deleteItem(i)">
      <app-asset-entry class="flex items-center"
        [formState]="listItem">
      </app-asset-entry>
    </ui-table-row>
  </ui-card>
  <ui-card>
    <ui-card-header>
      Info
    </ui-card-header>
    <div class="pa3">
      <p>Assets are items can be liquidated for cash.</p>
      <p>Not every asset is the same, some depreciate value as they age while others increase in value.</p>
      <div class="flex">
        <div class="flex flex-column w-50">
          <p>Examples of Increasing Assets:</p>
          <ul>
            <li>Cash</li>
            <li>Real Estate</li>
            <li>Financial Investments (Stocks, ETFs, ect.)</li>
            <li>Collectable Items</li>
            <li>Unique Items</li>
          </ul>
        </div>
        <div class="flex flex-column w-50">
          <p>Examples of Depreciating Assets:</p>
          <ul>
            <li>Vehicles</li>
            <li>Boats</li>
            <li>Common Items</li>
          </ul>
        </div>
      </div>
      <p>There can be exceptions to these examples.</p>
    </div>
  </ui-card>
</ui-page-scroll>